.modal {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500;
  background-color: white;
  border-radius: 5px;
}
.form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  input {
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    &:focus {
      background: #fff;
      outline: 0;
      box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }
  }
  &_buttons {
    display: flex;

    justify-content: space-between;
  }
  &_sizes {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
}
